@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

.formular{
  size: 20%;
  width: 100%;
}

.newContact{
  width: 100%;
}

.frame{
  width: 900px;
  margin: auto;
border-radius: 25px;
  border: solid white;
  padding: 20px;
}
.contact{

    display:flex;
    align-items:center;
  gap: 20px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.imagen{
    width:120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}

.card{
   max-width: 100%;  
    width: 500px;      
    height: auto;    
    min-height: 235px;
    justify-content: space-between;
 }

 .homepage{
  border-radius: 25px;
  border: solid white;
  max-width: 1000px;
  margin: auto;
 }

 .newContact{
  border-radius: 25px;
  border: solid white;
    width: 900px;
  margin: auto;
  padding: 20px;
  
 }

p,h4{
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
  margin: auto;
}
h1,h3,label{
   font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.info{
    display: flex;
    flex-direction: column;
 
}

.botons{
    text-align: right;
    justify-content: start;
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


