@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

.formular{
  width: 100%;

}

.newContact{
  width: 100%;
}

.frame{
  border-radius: 25px;
  border: solid white;
    max-width: 900px;
  margin: auto;
  padding: 20px;
}


.contacts {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  

}
.contacts:hover{
   transform: translateY(-10px) scale(1.03); /* sobresale un poco */
  box-shadow: 0  rgba(0,0,0,0.25);
}

.imagen{
    width:120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  transition: transform 0.3s ease;
}

.imagen:hover{
    transform: scale(1.10);

}

.info{
  gap: 5px;
}

 .homepage{
  margin-top: 10px;
  border-radius: 25px;
  border: solid white;
  max-width: 800px;
  margin: auto;
  
 }

 .newContact{
  border-radius: 25px;
  border: solid white;
    max-width: 900px;
  margin: auto;
  padding: 20px;
  
  
 }
 

p,h4{
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
  margin: auto;
}
h1,h3,label{
   font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.info{
    display: flex;
    flex-direction: column;
 
}

.botons{
    text-align: right;
    justify-content: start;
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


